.insta-primary {
  background-color: #4095EF;
  border: none;
  font-size: 14px;
  border-radius: 5px;

  &:hover {
    background-color: #3878EA;
  }
  }

.custom-nav-link {
  text-decoration: none;
  color: black;

  &:hover {
    color: black;
  }
}
